<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org" th:replace="~{layouts/PublicLayout :: main-fragment(
		~{::title},
		~{::#register-styles},
		~{::#register-header},
		~{::#register-main},
		~{::#register-footer}
	)}">

<head>
	<title>Bienvenido a eTech</title>
	<th:block id="register-styles"> </th:block>
</head>

<body>
	<div id="register-header" th:replace="~{/components/Store/Header/RegisterHeader}"></div>

	<div id="register-main">
		<div class="axil-signin-area">
			<div class="row">
				<div class="col-xl-4 col-lg-6">
					<div class="axil-signin-banner bg_image bg_image--10"></div>
				</div>
				<div class="col-lg-6 offset-xl-1">
					<div class="axil-signin-form-wrap">
						<div class="axil-signin-form">
							<h3 class="title mb-1">Reg&iacute;strate</h3>
							<p class="b2 mb--40">Crea una cuenta y disfruta de la experiencia</p>
							<form class="singin-form" action="#" th:action="@{/api/auth/register}"
								th:object="${newUser}" method="post">
								<div class="form-group">
									<label>Nombre(s)</label>
									<input type="text" class="form-control" name="first_name" th:field="*{first_name}">
								</div>
								<div class="form-group">
									<label>Apellido(s)</label>
									<input type="text" class="form-control" name="last_name" th:field="*{last_name}">
								</div>

								<div class="form-group">
									<label>Nombre de usuario</label>
									<input type="text" class="form-control" name="username" th:field="*{username}">
								</div>

								<div class="form-group">
									<label>Correo electr&oacute;nico</label>
									<input type="email" class="form-control" name="email" th:field="*{email}">
								</div>
								<div class="form-group">
									<label>Contrase&ntilde;a</label>
									<input type="password" class="form-control" name="password" th:field="*{password}">
								</div>
								<div class="form-group">
									<button type="submit" class="axil-btn btn-bg-primary submit-btn">Crear
										cuenta</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="register-footer"></div>
</body>

</html>