<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org" th:replace="~{layouts/PrivateLayout :: main-private-fragment(
		~{::title},
		~{::#payments-styles},
		~{::#payments-sidebar},
		~{::#payments-main},
	)}">

<head>
	<title>M&eacute;todos de pago - eTech</title>
	<th:block id="payments-styles"> </th:block>
</head>

<body>
	<div id="payments-sidebar">
		<div th:replace="components/Dashboard/Sidebar :: activeItem(name='Pagos')"></div>
	</div>

	<div id="payments-main">
		<h2> Home content</h2>
		<div> This is the content of the home page</div>
	</div>
</body>

</html>