!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org" th:replace="~{layouts/PrivateLayout :: main-private-fragment(
		~{::title},
		~{::#add-user-styles},
		~{::#add-user-sidebar},
		~{::#add-user-main},
	)}">

<head>
	<title>Agregar usuario - eTech</title>
	<th:block id="add-user-styles"> </th:block>
</head>

<body>
	<div id="add-user-sidebar">
		<div th:replace="~{components/Dashboard/Sidebar :: activeItem(name='Usuarios')}"></div>
	</div>

	<div id="add-user-main">
		<form action="#" th:action="@{/user/add}" th:object="${newUser}" method="post">
			<div class="row row--md">
				<div class="col-md-12 col-lg-6 form-group form-group--lg">
					<label class="form-label">Nombre(s)</label>
					<div class="input-group">
						<input class="input" type="text" placeholder="" th:field="*{first_name}" required>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-6 form-group form-group--lg">
					<label class="form-label">Apellido(s)</label>
					<div class="input-group">
						<input class="input" type="text" placeholder="" th:field="*{last_name}" required>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-6 form-group form-group--lg">
					<label class="form-label">Usuario</label>
					<div class="input-group">
						<input class="input" type="text" placeholder="" th:field="*{username}" required>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-6 form-group form-group--lg">
					<label class="form-label">Rol</label>
					<div class="input-group input-group--append">
						<select class="input js-input-select input--fluid" data-placeholder="" th:field="*{role}">
						<option th:each="record : ${roles}" th:field="*{role}" th:value="${{record.id}}"
							th:text="${record.name}"></option>
					</select>
					</div>
					
				</div>
				
				<div class="col-md-12 col-lg-6 form-group form-group--lg">
					<label class="form-label">Correo</label>
					<div class="input-group">
						<input class="input" type="email" placeholder="" th:field="*{email}" required>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-6 form-group form-group--lg">
					<label class="form-label">Contraseña</label>
					<div class="input-group">
						<input class="input" type="password" placeholder="" th:field="*{password}" required>
					</div>
				</div>
			</div>

			<div class="row row--md">
				<div class="col-6"><button type="submit" class="button button--primary button--block"><span
							class="button__text">Agregar</span>
					</button></div>
				<div class="col-6"> <a th:href="@{/dashboard/usuarios}"
						class="button button--secondary button--block"><span class="button__text">Cancelar</span>
					</a></div>
			</div>
		</form>
	</div>
</body>

</html>