<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org" th:replace="~{layouts/PrivateLayout :: main-private-fragment(
		~{::title},
		~{::#users-styles},
		~{::#users-sidebar},
		~{::#users-main},
	)}">

<head>
	<title>Usuarios - eTech</title>
	<th:block id="users-styles"> </th:block>
</head>

<body>
	<div id="users-sidebar">
		<div th:replace="components/Dashboard/Sidebar :: activeItem(name='Usuarios')"></div>
	</div>

	<div id="users-main">
		<h2> Home content</h2>
		<div> This is the content of the home page</div>
	</div>
</body>

</html>