<div class="section-title-wrapper">
	<span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i> Our
		Products</span>
	<h2 class="title">Explore our Products</h2>
</div>
<div class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
	<div class="slick-single-layout">
		<div class="row row--15">
			<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30" th:each="product: ${products}">
				<div class="axil-product product-style-one">
					<div class="thumbnail">
						<a href="single-product.html">
							<img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800" loading="lazy"
								class="main-img" th:src="@{/store/images/product/electric/product-01.png}"
								alt="Product Images">
							<img class="hover-img" th:src="@{/store/images/product/electric/product-08.png}"
								alt="Product Images">
						</a>
						<div class="product-hover-action">
							<ul class="cart-action">
								<li class="select-option">
									<a th:href="@{/shopping-cart/add/{id}(id=${product.id})}">
										Add to Cart
									</a>
								</li>
								<li class="wishlist"><a th:href="@{/wishlist/add/{productId}(productId=${product.id})}"><i
											class="far fa-heart"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<div class="inner">
							<h5 class="title"><a href="single-product.html" th:text="${product.name}"></a></h5>
							<div class="product-price-variant">
								<span class="price current-price" th:text="${product.price}"></span>
								<span class="price old-price" th:text="${product.price + 10}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End .slick-single-layout -->
</div>
<div class="row">
	<div class="col-lg-12 text-center mt--20 mt_sm--0">
		<a href="/tienda" class="axil-btn btn-bg-lighter btn-load-more">View All Products</a>
	</div>
</div>