<div class="row">
	<div class="col-xl-5 col-lg-7 offset-xl-7 offset-lg-5">
		<div class="axil-order-summery mt--80">
			<h5 class="title mb--20">Order Summary</h5>
			<div class="summery-table-wrap">
				<table class="table summery-table mb--30">
					<tbody>
						<tr class="order-subtotal">
							<td>Subtotal</td>
							<td th:text="'$ ' + ${subtotal}"></td>
						</tr>
						<tr class="order-shipping">
							<td>Tipo de env&iacute;o</td>
							<td>
								<div class="input-group">
									<input type="radio" id="radio1" name="shipping" checked>
									<label for="radio1">Env&iacute;o gratis</label>
								</div>
								<div class="input-group">
									<input type="radio" id="radio2" name="shipping">
									<label for="radio2">Normal: $10.00</label>
								</div>
								<div class="input-group">
									<input type="radio" id="radio3" name="shipping">
									<label for="radio3">Turbo: $35.00</label>
								</div>
							</td>
						</tr>
						<tr class="order-tax">
							<td>Tarifa</td>
							<td>$8.00</td>
						</tr>
						<tr class="order-total">
							<td>Total</td>
							<td class="order-total-amount" th:text="'$ ' + ${subtotal + 8}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<a href="/checkout" class="axil-btn btn-bg-primary checkout-btn">Pagar</a>
		</div>
	</div>
</div>