!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org" th:replace="~{layouts/PrivateLayout :: main-private-fragment(
		~{::title},
		~{::#edit-role-styles},
		~{::#edit-role-sidebar},
		~{::#edit-role-main},
	)}">

<head>
	<title>Editar rol - eTech</title>
	<th:block id="edit-role-styles"> </th:block>
</head>

<body>
	<div id="edit-role-sidebar">
		<div th:replace="~{components/Dashboard/Sidebar :: activeItem(name='Roles')}"></div>
	</div>

	<div id="edit-role-main">
		<form action="#" th:action="@{/role/update/{id}(id=${editRole.id})}" th:object="${editRole}" method="post">
			<div class="row row--md">
				<div class="col-12 form-group form-group--lg">
					<label class="form-label">Nombre</label>
					<div class="input-group">
						<input class="input" type="text" placeholder="" th:field="*{name}" required>
					</div>
				</div>

				<div class="col-12 form-group form-group--lg">
					<label class="form-label">Permisos</label>
					<select class="input js-input-tags" multiple="multiple" data-placeholder="" th:field="*{access}">
						<option th:each="permit : ${access}" th:field="*{access}" th:value="${{permit.toUpperCase()}}"
							th:text="${permit}"></option>
						<option value="USUARIOS">Usuarios</option>
						<option value="ROLES">Roles</option>
						<option value="PRODUCTOS">Productos</option>
					</select>
				</div>
			</div>

			<div class="row row--md">
				<div class="col-6"><button type="submit" class="button button--primary button--block"><span
							class="button__text">Guardar</span>
					</button></div>
				<div class="col-6"> <a th:href="@{/dashboard/roles}"
						class="button button--secondary button--block"><span class="button__text">Cancelar</span>
					</a></div>
			</div>
		</form>
	</div>
</body>

</html>