<div class="col-lg-6">
	<div class="axil-order-summery order-checkout-summery">
		<h5 class="title mb--20">Tu pedido</h5>

		<input type="hidden" th:value="${subtotal}" name="totalOrder">
		<div class="summery-table-wrap">
			<table class="table summery-table">
				<thead>
					<tr>
						<th>Productos</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="order-product" th:each="sp : ${items}">
						<td th:text="${sp.product.name}"><span class="quantity" th:text="'x' + ${sp.quantity}"></span>
						</td>
						<td th:text="'$ ' + ${sp.quantity * sp.product.price}"></td>
					</tr>
					<tr class="order-subtotal">
						<td>Subtotal</td>
						<td th:text="'$ ' + ${subtotal}"></td>
					</tr>
					<tr class="order-shipping">
						<td colspan="2">
							<div class="input-group">
								<input type="radio" id="radio1" name="shipping" checked value="Envio gratis">
								<label for="radio1">Env&iacute;o gratis</label>
							</div>
							<div class="input-group">
								<input type="radio" id="radio2" name="shipping" value="Normal">
								<label for="radio2">Normal: $10.00</label>
							</div>
							<div class="input-group">
								<input type="radio" id="radio3" name="shipping" value="Turbo">
								<label for="radio3">Turbo: $35.00</label>
							</div>
						</td>
					</tr>
					<tr class="order-total">
						<td>Total</td>
						<td class="order-total-amount" th:text="'$ ' + ${subtotal}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="order-payment-method">
			<div class="single-payment">
				<div class="input-group">
					<input type="radio" id="radio5" name="payment" value="Entrega">
					<label for="radio5">Pagar en la entrega</label>
				</div>
				<p>Paga al momento que te llegue tu producto.</p>
			</div>
			<div class="single-payment">
				<div class="input-group justify-content-between align-items-center">
					<input type="radio" id="radio6" name="payment" checked value="Paypal">
					<label for="radio6">Paypal</label>
					<img th:src="@{/store/images/others/payment.png}" alt="Paypal payment">
				</div>
				<p>Paga con PayPal, la forma m&aacute;s segura.</p>
			</div>
		</div>
		<button type="submit" class="axil-btn btn-bg-primary checkout-btn">Pagar</button>
	</div>
</div>